<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCR9RU9_qIkSl38cwdz7ojLVgduDddFYl4</string>
	<key>GCM_SENDER_ID</key>
	<string>638803687654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dr.berry.app</string>
	<key>PROJECT_ID</key>
	<string>drberry-1d767</string>
	<key>STORAGE_BUCKET</key>
	<string>drberry-1d767.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638803687654:ios:6addd063e13f1e6a6ae327</string>
</dict>
</plist>